# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3


# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db